/**********************************
*
*	CONNECTOME
*
**********************************/

.count {   
	color: #ec0e0e;
    font-family: arial,serif;
    font-size: 14px !important;
    font-weight: 100;
    letter-spacing: .075em;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;	
}

#connectome-display-row .row,
#connectome-search-results .row {
	overflow: hidden !important;
	margin-bottom: 50px !important;
	padding-bottom: 50px !important;
	border-bottom: 1px solid #cccccc;
}

.connectome-featured .featured-row {
	overflow: auto !important;
	margin-bottom: 0px !important;
	padding-bottom: 0px !important;
	border-bottom: none !important;
}

#connectome-display-row .row .et_pb_column_1_5,
#connectome-search-results .row .et_pb_column_1_5 {
	width: 14.5%;
}

#connectome-display-row .row .et_pb_column_4_5,
#connectome-search-results .row .et_pb_column_4_5{
	width: 80%;
}

@media screen and (max-width: 980px){

	#connectome-display-row .row,
	#connectome-search-results .row {
		overflow: hidden
	}

	#connectome-display-row .row .et_pb_column_1_5,
	#connectome-search-results .row .et_pb_column_1_5 {
		width: 100%;
	}
	#connectome-display-row .row .et_pb_column_4_5,
	#connectome-search-results .row .et_pb_column_4_5{
		width: 100%;
	}
	
}

#connectome-display-row .row .et_pb_image_wrap,
#connectome-search-results .row .et_pb_image_wrap {
	padding-left: 20px;
}

#connectome-display-row .row .name,
#connectome-search-results .row .name {
	font-size: 16px;
	font-weight: 700;
	color: #000000;
}

#connectome-display-row .row .email a,
#connectome-search-results .row .email a {
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}

#connectome-display-row .row .email a:hover,
#connectome-search-results .row .email a:hover {
	color:#2ea3f2;
}

#connectome-display-row .row .lab,
#connectome-search-results .row .lab {
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	color: #000000;
}

#connectome-display-row .row .lab a,
#connectome-search-results .row .lab a {
	font-size: 14px;
	font-weight: 600;
	color: #000000;
}

#connectome-display-row .row .lab a:hover,
#connectome-search-results .row .lab a:hover {
	color:#2ea3f2;
}

#connectome-display-row .row .excerpt,
#connectome-search-results .row .excerpt {
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}

#connectome-display-row .row .learn-more,
#connectome-search-results .row .learn-more  {
	padding-top: 10px;
}

.easyPaginateNav {
	text-align: center;
	margin: 0 auto;
	width:100% !important;
	padding-bottom: 30px;
}

.easyPaginateNav a {
	padding:5px;
	color: #000000;
}

.easyPaginateNav a:hover {
	color: #ff6599;
}

.easyPaginateNav a.current {
	color: #ff6599;
}

#search-alpha .filters {
    color: #ec0e0e;
    font-family: arial,serif;
    font-size: 14px !important;
    font-weight: 100;
    letter-spacing: .075em;
    text-transform: uppercase;
}

div#search-alpha {
	display: block;
	float: left;
	border: none !important;
	width: 100%;    
    padding-bottom: 25px;
}

div#search-alpha .search-type {
	display: block;
	float: left;
	width: 100% !important;    
	color: #ec0e0e;
    font-family: arial,serif;
    font-size: 14px !important;
    font-weight: 100;
    letter-spacing: .075em;
    text-transform: uppercase;
}

div#search-alpha .letter {
	display: block;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 14px;
	color: #908e8e;
	border: none;
	padding: 0 !important;
	margin-right: 15px;
}

div#search-alpha .letter button {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 0 !important;
	border: none;
	color: #000000;
}

div#search-alpha button:hover {
	color: #da1c5c;
}

div#search-alpha button:visited {
	color: #000000;
}

div#search-text .search-type {
	color: #ec0e0e;
    font-family: arial,serif;
    font-size: 14px !important;
    font-weight: 100;
    letter-spacing: .075em;
    text-transform: uppercase;
}

div#search-text table {
	border: none !important;
	margin-bottom: 0px !important;
}

div#search-text table tr {
	border: none !important;
}
div#search-text table tr td {
	border: none !important;
}

div#search-text table tr td.input {
	float: left;
	padding: 0 !important;
}

#search-text input[type=text]{
	padding: 5px;
	font-size: 14px;
	line-height: 14px;
	border-left: 1px solid #cacaca;
	border-top: 1px solid #cacaca;
	border-bottom: 1px solid #cacaca;
	border-right: none;
	color: #000000;
	margin-bottom: 25px;
}

div#search-text table tr td.button {
	float: left;
	padding: 0 !important;
}
		
#search-text button {
	float: right;
	height: 31px;
	padding: 4px 10px;
	background: #ddd;
	font-size: 17px;
	cursor: pointer;
	border-radius: 0px;
	border-right: 1px solid #026484;
	border-top: 1px solid #026484;
	border-bottom: 1px solid #026484;
	background-color: #026484;
}

#search-text button i {
	color: #ffffff;
}

#search-text form button:hover {
	background: #ccc;
}

div.search-type { 
	color: #ec0e0e;
    font-family: arial,serif;
    font-size: 14px !important;
    font-weight: 100;
    letter-spacing: .075em;
    text-transform: uppercase;
}

div.search-research select {
	margin-top: 3px;
	height: 22px;
	font-size: 14px !important;
	color: #000000;
}

@media screen and (max-width: 1260px){

	#connectome-display-row .row,
	#connectome-search-results .row {
		/* height: 300px; */
	}

	div#search-alpha .search-type {
		width: 100% !important;
	}

}
@media screen and (max-width: 980px){

	div#search-alpha .search-type {
		width: 100% !important;
	}

}

div#search-group .search-type { 
	color: #ec0e0e;
    font-family: arial,serif;
    font-size: 14px !important;
    font-weight: 100;
    letter-spacing: .075em;
    text-transform: uppercase;
}

div#search-group .search-group-container { 
	display: flex;
	padding: 0;
	list-style: none;
}

div#search-group .search-group-container .column { 
	width: 100%;
}

div#search-group .search-group-container .parent { 
	font-weight: 600;
}

div#search-group .search-group-container .child { 
/* 	padding-left: 30px; */
}

div#search-group .search-group-container span { 
	padding-left: 10px;
}



@media screen and (max-width: 1260px){

	div#search-group .search-group-container { 
		display: block;
		width: 100%;
	}

	div#search-group .search-group-container .column { 
		display: block;
		width: 100%;
	}

}


.load-more-div {
	display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}

a.load-more__btn {
	color: #da1c5c;
    font-family: arial, "Open Sans" ,Georgia,Baskerville,Palatino,'Palatino Linotype','Book Antiqua','Times New Roman',serif;
    font-size: 14px !important;
    font-weight: 100;
    height: 50px;
    letter-spacing: .075em;
    line-height: 18px;
    text-transform: uppercase;
}


/*---------------------------------------------------------------------------------

	Connectome
				
---------------------------------------------------------------------------------*/

.connectome {
	background: #54B9D6;
	background-image: linear-gradient(to bottom, #54B9D6 12%, #FFFFFF 100%);
}

/*---------------------------------------------------------------------------------

Connectome Count
			
---------------------------------------------------------------------------------*/

.connectome-count {
	color: #000000;
	font-weight: 600;
}

/*---------------------------------------------------------------------------------

Connectome Top Buttons
			
---------------------------------------------------------------------------------*/

#connectome-top-buttons {
	display: flex !important;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	border-bottom: 2px solid rgb(204,204,204);
	margin-bottom: 30px;
}

#connectome-top-buttons a {
	display: inherit !important;
	width: auto;
	margin-right: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-size: 14px;
	line-height: 32px !important;
	color: #4498AF;
	background-color: #cde5ef;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-transform: uppercase;
}

#connectome-top-buttons a:last-child {
	margin-right: 0px;
}

#connectome-top-buttons a:hover {
	background-color: #8d9194;
	color: #FFFFFF;
}


/*---------------------------------------------------------------------------------

	Connectome Member Form
				
---------------------------------------------------------------------------------*/

form.connectome-member {
	border: 1px #ffffff solid;
}

form.connectome-member #errors .error {
	display: block;
	width: 100%;
	font-size: .9em;
	font-weight: 400;
	text-transform: none;
	padding-left: 10px;
	color: red;
}

#connectome-top-buttons {
	display: block;
}

form.connectome-member .mobile {
	display: none;
}

form.connectome-member .label {
	font-size: 12px;
	line-height: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
	color: #7E7E7E;
}

form.connectome-member .label span.optional{
	float: right;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	color: #7E7E7E;
}

form.connectome-member .label .instructions {
	display: block;
	font-size: 10px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: justify;
}

form.connectome-member .submit {
/*
	display: block;
	float: left;
	width: 33.33%;
	padding-right: 3%;
	text-align: center;
*/
}

form.connectome-member input[type="url"] {
	border: 1px rgb(187, 187, 187) solid !important;
}

form.connectome-member .desktop .category-label {
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: 2px solid #000000;
	margin-bottom: 15px;
	padding-left: 0px;
	color: #000000;
}

form.connectome-member .desktop .category-field {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

form.connectome-member .desktop .category-field .input {
	display: block;
	float: left;
	width: 20%;
	font-size: 1em;
	font-weight: 600;
	text-transform: uppercase;
}

form.connectome-member .desktop #image-preview {
	width: 250px;
	height: 250px;
	position: relative;
	overflow: hidden;
	background-color: #ffffff;
	color: #ecf0f1;
	border: 1px solid #bbb;
	margin-bottom: 25px !important;
}

form.connectome-member .desktop .row {
	display: block;
	float: left;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

form.connectome-member .desktop .row .one-quarter {
	display: block;
	float: left;
	width: 25%;
	padding-right: 3%;
}

form.connectome-member .desktop .row .one-half {
	display: block;
	float: left;
	width: 50%;
	padding-right: 3%;
}

form.connectome-member .desktop .row .one-third {
	display: block;
	float: left;
	width: 33%;
	padding-right: 3%;
}

form.connectome-member .desktop .row .two-thirds {
	display: block;
	float: left;
	width: 66.66%;
	padding-right: 3%;
}

form.connectome-member .desktop .row .three-quarters {
	display: block;
	float: left;
	width: 75%;
}

form.connectome-member .desktop .row .extra-padding {
	padding-bottom: 30px;
}

form.connectome-member .desktop .row .last {
	padding-right: 0px;
}


form.connectome-member .desktop .last-row {
	padding-top: 0px;
	padding-bottom: 0px;
}

form.connectome-member .desktop .row input {
	width: 100%;
	height: 32px;
	font-size: 12px;
	font-weight: 600;
}

form.connectome-member .desktop .row select {
	width: 100% !important;
	height: 32px !important;
	line-height: 32px !important;
	font-size: 12px;
	font-weight: 600;
}

form.connectome-member .desktop .row input[type=radio]{
	margin-left: 0px;
	width: auto;
	height: auto;
	font-size: 12px;
}

form.connectome-member .desktop .row input[type=checkbox]{
	margin-left: 0px;
	width: auto;
	height: auto;
	font-size: 10px;
}

form.connectome-member .desktop .row span.checkbox-name{
	font-size: 12px;
}

form.connectome-member .desktop .row .one-third .item {
	height: 83px;
}

form.connectome-member .desktop .row textarea {
	width: 100%;
	height: 100px;
	font-size: 12px;
	font-weight: 600;
}

form.connectome-member .desktop .buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
	border-bottom: 2px solid rgb(204,204,204);
	margin-bottom: 30px;
}

form.connectome-member .desktop .buttons .submit {
	display: inherit !important;
	width: 100px;
	margin-right: 20px;
	text-align: center;
}

form.connectome-member .desktop .buttons .grey {
	margin-right: 0px !important;
}

form.connectome-member .submit input[type="submit"]{
	font-size: 14px;
	color: #4498AF;
	background-color: #cde5ef;
	border: 0px !important;
	font-weight: 500;
}

form.connectome-member .submit input[type="submit"]:hover{
	background-color: #8d9194;
	color: #FFFFFF;
}

form.connectome-member .submit a {
	width: 100px !important;
	font-size: 14px;
	line-height: 32px !important;
	color: #4498AF;
	background-color: #cde5ef;
	border: 0px !important;
}

form.connectome-member .submit a:hover {
	background-color: #8d9194;
	color: #FFFFFF;
}

form.connectome-member .grey a {
	width: 100px !important;
	font-size: 14px;
	line-height: 32px !important;
	color: #FFFFFF;
	background-color: #D1D3D4;
	border: 0px !important;
}

form.connectome-member .acceptance {
	font-size: 11px;
	line-height: 12px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: justify;
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

form.connectome-member label.error {
	display: block;
	color: red;
	border: 2px solid red;
	border-radius: 4px;
	line-height: 12px;
	font-size: 12px;
	padding: 6px 0 6px 6px;
	background: #ffe6eb;
	margin-top: 5px;
	margin-bottom: 5px;
}

#response {
	display: block !important;
	font-size: 1em !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	padding-left: 0px !important;
	color: #000000 !important;	
}

#member-results {
	display: block !important;
	font-size: 1em !important;
	font-weight: 600 !important;
	text-transform: uppercase !important;
	padding-top: 15px !important;
	padding-bottom: 15px !important;
	padding-left: 0px !important;
	color: #000000 !important;
}

#errors {
	color: red !important;	
}

@media (max-width: 1089px) {

	form.connectome-member .desktop {
		display: none;
	}		

	form.connectome-member .mobile {
		display: block;
		width: 100%;
	}	
	
	form.connectome-member .mobile .label {
		padding-left: 0px;
	}		
	
	form.connectome-member .mobile .field {
		padding-bottom: 20px;
		width: 100%
	}		
	
	form.connectome-member .mobile .field input[type="text"], 
	form.connectome-member .mobile .field input[type="email"], 
	form.connectome-member .mobile .field input[type="url"],  
	form.connectome-member .mobile .field select	{
		width: 100%;
		height: 36px;
		font-size: 14px;
	}			
	
	form.connectome-member .mobile .field textarea	{
		width: 100%;
		height: 150px;
		font-size: 14px;
	}

	form.connectome-member  .mobile .submit {
		width: 100%;
		text-align: left;
		padding-top: 15px;
	}

	form.connectome-member  .mobile .submit input[type="submit"]{
		width: 50%;
		height: 36px;
		padding-left: 0px;
		font-size: 1.1em;
		color: #000000;
		background-color: #E6E7E8;
		border: 0px !important;
		margin-bottom: 15px !important;
	}
	
	form.connectome-member  .mobile .submit input[type="submit"]:hover{
		background-color: #8d9194;
		color: #FFFFFF;
	}	
	
}


/*---------------------------------------------------------------------------------

	Connectome Post
				
---------------------------------------------------------------------------------*/

.single-hbi_connectome h1 {
	margin-top: 30px;
	font-size: 32px;
	font-weight: 500;
	line-height: 38px
}

.single-hbi_connectome .connectome-count {
	margin-top: 35px;
}

.connectome-post {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #000000;
	font-weight: 600;
}

.connectome-post a {
	color: #00a9cb;
}

.connectome-post span {
	color: #00a9cb !important;
	font-weight: 600 !important;
}

.connectome-post .email {
	text-align: center;
	margin: 0 auto;
}

.connectome-post .name  {
	font-size: 32px;
	line-height: 38px;
}

.connectome-post .lab  {
	margin-top: 10px
}

.connectome-post .pubmed  {
	margin-top: 10px
}

.connectome-post .research {
	margin-top: 10px;
	font-weight: 400;
}

.connectome-post .bio {
	margin-top: 10px;
	font-weight: 400;
}

.connectome-post .research-interests {
	margin-top: 10px
}

.connectome-post .research-interests .areas {
	display: flex;
	flex-wrap: wrap;
}
.connectome-post .research-interests .areas .area {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 5px 10px;
	background-color: #D1D3D4;
	font-size: 12px;
	text-transform: uppercase;
}

.connectome-post-return {
	justify-content: flex-start !important;
	margin-bottom: 0px !important;
}

.connectome-post-nav {
	display: block;
	float: left;
	width: 100%;
}

.connectome-post-nav {
	display: block;
	float: left;
	width: 100%;
	margin-top: 7px;
	margin-bottom: 40px;
}

.connectome-post-nav .prev {
	display: block;
	float: left;
	width: 50%;
}

.connectome-post-nav .next {
	display: block;
	float: right;
	width: 50%;
	text-align: right;
}

.connectome-post-nav .nav {
	padding: 10px 20px;
	background-color: #D1D3D4;
	text-transform: uppercase;
	color: #000000;
	font-size: 14px;
}